# Deny directory browsing
Options -Indexes

# Deny access to env files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Redirect /tools to main index
RedirectMatch 302 ^/tools/?$ /

# Custom 404 error
ErrorDocument 404 /404.php
